DATABASE_URL=
ADMIN_USERNAME=
ADMIN_PASSWORD=

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET =
SESSION_SECRET_KEY=

BACKEND_URL=
DEV_URL=
GEMINI_API_KEY = 

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=

RESEND_API_KEY=

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
