DATABASE_URL = ******
BACKEND_URL = *******
DEV_URL = ******
CLIENT_URL = *****

ADMIN_USERNAME= *****
ADMIN_PASSWORD= *******

GOOGLE_CLIENT_ID = *******
GOOGLE_CLIENT_SECRET = *******

SESSION_SECRET_KEY = ********

RESENT_API_KEY = *****
